/*--------Elementos reutilizables; botones, iconos, etc------------*/
.boton{
    border: none;
    outline: 0;
    display: inline inline-block;
    padding: 8px;
    color: black;
    background-color: white;
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.boton:hover{
    background-color: rgb(79, 33, 33);
    color: whitesmoke;
    transform: scale(1,1);
    transition: all 0.3s ease;
}
.social-icons{
    margin-top: 5px;    
}
.icon{
    display: inline-block;
    margin: 0 25px;
    font-size: 25px;
    color: whitesmoke;
    transition: transform 0.3s, color 0.3s;       
}
.icon:hover{
    transform: scale(1.1,1.1) ;
}
.x:hover{
    color: black;
}
.instagram:hover{
    color: rgb(198, 5, 117);
}
.youtube:hover{
    color: #FF0000;
}

.lblMS{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
}
.txtMS{
    padding: 5px;
    font-size: 15px;
}
.rdMS{
    font-size: 18px;
}
.lblRes{
    font-size: 20px;
}
.txtRes{
    padding: 3px;
    font-size: 18px;
}