/*Menu de Botones -Cocteles-*/
#menuBtns{
    display: flex;
    justify-content: center;
    width: 240px;
    margin: 5px 50px;
}
#menuBtns a{
    display: block;
    margin: 5px 50px;
}
.btnUp{
    width: 240px;
    display: block;
}

/*Automoviles*/
#bodyAutomoviles{
    background-color: black;
}
#honda{
    max-width: 400%;
}
#contenedorAutomoviles{
    background-color: whitesmoke;
    text-align: center;
    width: 1230px;
    height: 3150px;
}

/*Selector Universal*/
*{
    margin: 0;
    padding: 0;
}
/*Selector de Tipo*/
#bodyCocteles{
    background-color: rgb(177, 129, 75);
}
ul{
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    display: inline;
    margin: 3em;
    padding: 10px,30px;
}
li a{
    text-decoration: none;
}
li a:hover{
    color: red;
    text-decoration: none;
    font-size: 30px;
}

/*Selector ID*/
#contenedorCocteles{
    text-align: center;
    width: 1230px;
    height: 6630px;
    background-color: beige;
} 
#ParrafoAcerca{
    text-align:center;
    text-decoration: none;
}