/*--------Estilos para navegación y estructura común------------*/
.flexboxProd{
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    justify-content: center;
}
.itemProd{
    width: flex;
    font-size: 10px;
    padding: flex;
    margin: 0 38px;
}
.itemProd img{
    width: 280px;
}


.sticky-nav{
    position: sticky; /*-Pa q permanesca visible*/
    top: 0; /*-Dist del borde de arriba(top)*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); /*-El .9 al final=90% opacidad*/
    z-index: 100; /*La profundidad visual d los elemntoos en la pagina*/
    padding: 15px 0; /*-Relleno de 10px arriba/abajo y 0 izq/derch*/
}
.nav-grid{     /*-Literal pa lo dentro del nav*/
    max-width: 1200px; /*-Max a 1200px pa q no se mame en pantallas grandes*/
    margin: 0 auto; /*-Margen sperior/infer a 0*/
                            /*E izq/derch en auto: p/los margenes horizontales centra el elemento cuando tiene el ancho definido.*/
                            /* Forma +moderna de centrar en vez del mndigo <center>*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px 80px;
}                       
.nav-grid a {
    color: whitesmoke;
    text-decoration: none; /*-Elimina lo predeterminado*/
    font-size: 30px; 
    text-align: center;
    padding: 4px 8px;
}
.nav-grid a:hover {
    color: whitesmoke;
    text-decoration: underline; /*-Lo subraya bien chido*/
    font-size: 35px;
}


.btnInicio{   
    width: auto;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 20px;
    background-color: black;
    border-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: none;
    margin-top: 12px;
    padding: 3px 15px;
    text-decoration: none;
    color: whitesmoke;
}
.btnInicio:hover{
    opacity: 0.75;
}


.ctm{
    text-align: center;
    margin-top: 12px;
}

.btnArriba{
    font-size: 13px; 
    border-radius: 30px;
    border: 2px solid black;
    background-color: black;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: none;
    margin-top: 9px;
    padding: 3px 15px; 
    text-decoration: none;
    color: whitesmoke;
}
.btnArriba:hover{
    opacity: 0.75;
}

.contFlexMuro{
    z-index: 100;
    display: flex;
    width: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border-color: black;
    border: solid black 1px;;
    
}
.itemFlexMuro{
    width: 50%;
    padding: flex;
    margin: 0 auto;
}

.card-contenido {
    padding: 15px;
    background-color: #ffffff;
}
.vermas-btn {
    background-color: #4473FB;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.vermas-btn:hover {
    background-color: #3960d8;
}