/*--------Estilos de la pagina 'Automoviles'------------*/
#bodyAutomoviles{
    background-color: rgb(79, 33, 33);
}
#honda{
    max-width: 400%;
}
#contenedorAutomoviles{
    background-color: rgb(193, 193, 102);
    text-align: center;
    width: 83%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 1);
}


#encabezadoAutomoviles{
    width: 90%;
    height: auto;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    text-align: center;
    font-family: Moderustic;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #371e3d;
}


#menuAutomoviles{
    height:auto;
    background-color: black;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgb(79, 33, 33);
    width: auto;
}
#menuAutomoviles ul{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#menuAutomoviles ul li{
    display: inline;
    margin: 3em;
    padding: 10px,30px;
    text-decoration: none;
}
#menuAutomoviles ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
#menuAutomoviles ul li a:hover{
    color: purple;
    text-decoration: none;
    font-size: 30px;
}


.flexboxAutomoviles{
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    justify-content: center;
}
.itemFlexAutomoviles{
    width: flex;
    font-size: 10px;
    padding: flex;
    margin: 0 38px;
}
.itemFlexAutomoviles img{
    width: 280px;
}


.car-card {
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.card-img{
    width: 100%;
    height: 180px;
    background-color: #b05d5d;
    overflow: hidden;
}
.card-img img {
    width: 250px;
    margin-top: 25px;
    object-fit: cover;
}

.card-contenido {
    padding: 15px;
    background-color: #ffffff;
}
.car-nombre {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
}
.car-descri {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.car-precio {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}
.vermas-btn {
    background-color: #4473FB;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.vermas-btn:hover {
    background-color: #3960d8;
}