table{
    width: 70%;
    border-collapse: collapse ;
    margin: 20px auto;
}
th,td{
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: center;
}
thead{
    background-color: #ccc;
}
tfoot{  /*En caso de ocuparlo*/
    background-color: #eee;
}